<section class="vh-100 gradient-custom" style="background-color: #fff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card " style="border-radius: 1rem; background-color: rgb(1, 0, 44);">
                    <div class="card-body p-5 text-center">
                        <h3 class="text-light">Forgot Password</h3>
                        <form action="/forgotPassword" method="post">
                            <div class="mb-md-5 mt-md-4">
                                <div class="form-outline form-white mb-4 text-start">
                                    <label class="form-label" for="typePasswordX">
                                        <h5 class="text-light">Email Address</h5>
                                    </label>
                                    {{#if emailError}}
                                    <p class="text-danger">invalid email</p>
                            
                                  
                                    {{/if}}
                                    <input type="email" id="typePasswordX" placeholder=" Enter Email Address"
                                        class="form-control form-control-lg" name="email" />
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>