<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">
                        <div class="row">
                            <p class="text-center mt-5" style="font-size: 30px;">Your Order Has Been Recived</p>
                            <div class="wrapper"> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                                <p class="text-center">Thank You For Your Purchase</p>
                                <p class="text-center">Your Order ID:</p>
                                <a href="/invoice">Invoice</a>
                                <a href="/orders" class="d-flex justify-content-center mb-2">View Orders</a>
                                <a href="/" class="d-flex justify-content-center">
                                    <button class="btn btn-success text-uppercase">Continue shopping</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>