<section class="vh-100 bg-image" style="background-image: url(https://wallpaperaccess.com/full/1626283.jpg);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card text-danger bg-transparent" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5 text-light">Create an account</h2>

              <form action="/signup" method="post" id="user-signup-form">

                <div class="form-outline mb-4">
                  <label class="form-label text-light" for="form3Example1cg">Your Name</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg bg-transparent text-light" name="Name" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label text-light" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg bg-transparent text-light" name="Email" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label text-light" for="form3Example4cg">Password</label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg bg-transparent text-light" name="Password" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label text-light" for="form3Example4cdg">Mobile</label>
                  <input type="number" id="form3Example4cdg" class="form-control form-control-lg bg-transparent text-light" name="MobNumber" />
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-light">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body text-seccondery"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>