<section class="vh-100 gradient-custom" style="background-image: url(https://wallpaperaccess.com/full/1804617.jpg);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-transparent text-danger" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4">

              <h2 class="fw-bold mb-2 text-uppercase text-light">Login</h2>
              <p class="text-light-50 mb-5 text-light">Please enter your login and
                password!</p>
              <form action="/login" method="post" id="user-login-form">
                {{#if loginErr}}
                <p style="color: red;" class="error">{{loginErr}} </p>
                {{/if}}
                <div class="form-outline form-white mb-4">
                  <label class="form-label text-light" for="typeEmailX">Email</label>
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" name="Email" />
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label text-light" for="typePasswordX">Password</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" name="Password" />
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </div>
            <!-- Simple link -->
            <a href="/forgotPassword" class="text-light">Forgot password?</a>

            <div>
              <p class="mb-0 text-light">Don't have an account?
                <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>